<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Heure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Heure.Properties.Settings>
            <setting name="date" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sec" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>517</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>154</value>
            </setting>
            <setting name="PositionTop" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="PositionLeft" serializeAs="String">
                <value>300</value>
            </setting>
        </Heure.Properties.Settings>
    </userSettings>
</configuration>